p-carousel {
  width: 100%;

  img {
    height: 200px;
    width: 300px;
  }
  @media (max-width: 450px) {
    img {
      height: 125px;
      width: 175px;
    }
  }
}

h3 {
  margin-top: 20px;
  color: #b5b3b3;
}

.p-carousel-items-content {
    display: flex;
}


