/* .video-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    vg-player {
        width: 640px;
        height: 360px;
    }
} */

.video-player-container {
    max-width: 800px;
    margin: 0 auto;
    video {
      width: 100%;
      height: auto;
    }
    
  }