.full-view {
    height: 100vh;
    width: 100vw;
    background-color: rgb(40, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 300px;
      border-radius: 50px;
      background: #6af0da;
      box-shadow: 14px 14px 28px #5accb9, -14px -14px 28px #7afffb;
  
      .login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }
    }
  }